<!-- URL Redirect Script -->
{{ partial "redirect.html" . }}

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-BQ6CZ7HMQK"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-BQ6CZ7HMQK");
</script>
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3695098602071408"
  crossorigin="anonymous"
></script>
