{{ $page := .Page }}
{{ $target := .Target }}
{{ $result := dict "permalink" "" "found" false }}

{{ with $target }}
  {{ $ref := "" }}
  
  {{ if hasPrefix . "/" }}
    <!-- 절대 경로 형식 처리 -->
    {{ $ref = anchorize . }}
  {{ else }}
    <!-- 상대 경로 형식 처리 -->
    {{ $ref = . }}
  {{ end }}
  
  {{ with $page.Site.GetPage $ref }}
    {{ $result = dict "permalink" .Permalink "found" true }}
  {{ else }}
    {{ with $page.GetPage $ref }}
      {{ $result = dict "permalink" .Permalink "found" true }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}
